<?xml version="1.0"?>
<robot name="clothesstand">

  <link name="base_link">

    <inertial>
      <mass value="1.50000"/>
      <inertia ixx="0.105753" ixy="0.071721" ixz="0.014914" iyy="0.068346" iyz="-0.019321" izz="0.157330"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="clothesstand.obj"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <mesh filename="clothesstand.obj"/>
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>0.6</mu>
            <mu2>0.6</mu2>
          </ode>
        </friction>
        <contact>
          <ode>
            <kp>1000000.0</kp>
            <kd>1.0</kd>
            <max_vel>100.0</max_vel>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision>

  </link>
</robot>
