<?xml version="1.0"?>
<robot name="plasticbox">

  <link name="base_link">

    <inertial>
      <mass value="1.50000"/>
      <inertia ixx="0.015980" ixy="0.000027" ixz="0.000015" iyy="0.031713" iyz="0.000024" izz="0.027706"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="plasticbox.obj"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <mesh filename="plasticbox.obj"/>
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>0.6</mu>
            <mu2>0.6</mu2>
          </ode>
        </friction>
        <contact>
          <ode>
            <kp>1000000.0</kp>
            <kd>1.0</kd>
            <max_vel>100.0</max_vel>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision>

  </link>
</robot>
