<?xml version="1.0"?>
<robot name="smallbox">

  <link name="base_link">

    <inertial>
      <mass value="0.80000"/>
      <inertia ixx="0.005297" ixy="0.001191" ixz="-0.000514" iyy="0.004352" iyz="0.000941" izz="0.007213"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="smallbox.obj"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <mesh filename="smallbox.obj"/>
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>0.6</mu>
            <mu2>0.6</mu2>
          </ode>
        </friction>
        <contact>
          <ode>
            <kp>1000000.0</kp>
            <kd>1.0</kd>
            <max_vel>100.0</max_vel>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision>

  </link>
</robot>
