<?xml version="1.0"?>
<robot name="woodchair2">

  <link name="base_link">
    
    <inertial>
      <mass value="5.50000"/>
      <origin xyz="0.0 0.0 0.075" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.040619" ixy="0.0" ixz="0.0" iyy="0.041087" iyz="0.0" izz="0.034239"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="woodchair2.obj"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <mesh filename="woodchair2.obj"/>
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>0.6</mu>
            <mu2>0.6</mu2>
          </ode>
        </friction>
        <contact>
          <ode>
            <kp>1000000.0</kp>
            <kd>1.0</kd>
            <max_vel>100.0</max_vel>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision>
    
  </link>
</robot>
