<?xml version="1.0"?>
<robot name="chair">

  <link name="base_link">

    <inertial>
      <mass value="1.50000"/>
      <inertia ixx="0.062328" ixy="0.007880" ixz="-0.005568" iyy="0.073494" iyz="0.012011" izz="0.050750"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="chair.obj"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <mesh filename="chair.obj"/>
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>0.6</mu>
            <mu2>0.6</mu2>
          </ode>
        </friction>
        <contact>
          <ode>
            <kp>1000000.0</kp>
            <kd>1.0</kd>
            <max_vel>100.0</max_vel>
            <min_depth>0.001</min_depth>
          </ode>
        </contact>
      </surface>
    </collision>

  </link>
</robot>
